# Anything I don't need here but don't want to erase on local computer
s1
s14
s25
s27
s8
s31
firestone.conf.bak
*.conf
*.swp
#
# map lab : ignore all right now but it may change in the future
#
map-lab/
