declare -A alch_flag_H=(
	["s31"]=false
	["s27"]=true
	["s1"]=true
	["s14"]=true
)

X_alch_blood_exp="670"
X_alch_dust_exp="923"
X_alch_coin_exp="1180"

Y_alch_experiments="709"

declare -A alch_timer_H=(
	["s31"]=5
	["s27"]=7
	["s1"]=5
	["s14"]=5
)
