# flags
# undefined valuess will be set to false

declare -A auto_accept_flags_H

auto_accept_flags_H["s31"]=false
auto_accept_flags_H["s14"]=false
auto_accept_flags_H["s27"]=true
auto_accept_flags_H["s8"]=false


echo "loaded user defined values for guild auto-accept applications"
