X_guild_portal=1048
Y_guild_portal=285
X_exped=272
Y_exped=421
X_exped_but=944
Y_exped_but=389
X_ritual=593
Y_ritual=457
X_ritual_1=835
Y_ritual_1=750
X_ritual_2=1133
Y_ritual_2=510
X_ritual_3=838
Y_ritual_3=513
X_ritual_4=1124
Y_ritual_4=758
X_guard=741
Y_guard=847
X_guard_train=812
Y_guard_train=708
X_campaign=1271
Y_campaign=581
X_campaign_loot=150
Y_campaign_loot=841
X_engi=906
Y_engi=745
X_engi_shop=454
Y_engi_shop=561
X_toolclaim=1125
Y_toolclaim=656
