X_camp_map=1271
Y_camp_map=582
X_mission_button=1228
Y_mission_button=857
X_liberations=501
Y_liberations=724
X_dungeons=874
Y_dungeons=720
X_dungeon_1=544
Y_dungeon_1=697
X_dungeon_2=827
Y_dungeon_2=699
X_liberation_1=234
Y_liberation_1=697
X_liberation_2=516
Y_liberation_2=697
X_liberation_3=794
Y_liberation_3=695
X_liberation_4=1047
Y_liberation_4=695
n_scroll_libe=12
